[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/iree-org/llvm-project.git
[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = https://github.com/openxla/stablehlo.git
