-r ./externals/llvm-project/mlir/python/requirements.txt
wheel
setuptools
cmake
ninja<1.13.0; sys_platform == 'win32'
ninja; sys_platform != 'win32'
packaging

# Workaround for what should be a torch dep
# See discussion in #1174
pyyaml
