-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre
torch

numpy
torchvision

# Build requirements.
pybind11
wheel
setuptools
cmake
ninja

# Workaround for what should be a torch dep
# See discussion in #1174
pyyaml

# Test Requirements
pillow
