numpy
# Build requirements.
pybind11
wheel
setuptools
cmake
ninja

# Python dependencies required for development
astunparse
expecttest
future
numpy
psutil
pyyaml
requests
six
types-dataclasses
typing_extensions
sympy
