-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre

numpy
# TODO: Fix for latest PyTorch.
torch==1.12.0.dev20220328+cpu
torchvision==0.13.0.dev20220328+cpu

# Build requirements.
pybind11
wheel
